.preview-container {
    width: calc(50vw - 2rem);
    max-height: calc(100vh - 4rem - 8px);
    overflow: auto;
    margin-left: 1rem;
    background-color: green;
    border: 4px solid pink;
    border-radius: 1rem;
    padding: 0 0.5rem;
}